<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div data-role="main" class="ui-content">
                <div class="bs-component" style="width: 100%; margin: 0px auto;">
                    <div class="row" style="margin: 0px auto;">
                        <div class="col-sm-6">
                            <h1>Add, Delete, Edit</h1>
                            <h4>There can only be one fit name.</h4>
                            <ul>
                                <li>To add a fit enter the name, and enter the EFT export then click add. If the fit name already exists it will be assumed you want to update it.</li>
                                <li>To delete a fit enter the fit name and click delete.</li>
                            </ul>
                            <textarea id="fitJson" name="fitJson" style="height: 200px"></textarea>
                            <br>
                            <label for="T3" style="padding: 15px 0px 15px 40px; margin: 0px auto">
                                Is this a Strat Cruiser?
                                <input type="checkbox" id="T3" name="T3" value="true">
                            </label>
                            <input type="button" onclick="EditAddFit();" id="add" value="Add">
                            <br><br>
                            <label for="delFit">Enter fit name to delete. Can be separated by a comma.</label>
                            <input type="text" name="delFit" id="delFit">
                            <input type="button" onclick="DeleteFit();" id="delete" value="Delete">
                        </div>
                        <div class="col-sm-6">
                            <h2>Fits</h2>
                            <ul>
                                {{#each fit}}
                                <li>{{this.FitName}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function EditAddFit() {
        console.log('function called');
        $.ajax({
            type: "POST",
            url: '/editfitlist',
            data: {
                method: 'edit',
                fitJson: $('#fitJson').val(),
                T3: $('#T3').val()
            },
            success: function(data) {
                if (data['response'] == '200')
                    location.reload();
                console.log(data);
            },
            dataType: 'json'
        });
    }
    
    function DeleteFit() {
        console.log('function called');
        $.ajax({
            type: "POST",
            url: '/editfitlist',
            data: {
                method: 'delete',
                delFit: $('#delFit').val()
            },
            success: function(data) {
                if (data['response'] == '200')
                    location.reload();
                console.log(data);
            },
            dataType: 'json'
        });
    }

</script>
