<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Skill Check</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../public/js/jquery-3.1.1.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    {{#each fit}}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header" role="tab" id="heading{{this.FitName}}">
                <h4 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#{{this.FitName}}" href="#{{this.FitName}}" aria-expanded="true" aria-controls="{{this.FitName}}">
                        {{this.FitName}}
                    </a>
                </h4>
            </div>
            <div id="{{this.FitName}}" class="collapse" role="tabpanel">
                <div class="card-block">
                    <a href="#" class="list-group-item list-group-item-success">Item: {{this.Item}}
                        {{#each this.skill}}
                        <li class="list-group-item">Skill Name: {{this.SkillName}}</li>
                        <li class="list-group-item">Skill level needed: {{this.SkillLevel}}</li>
                        {{/each}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</body>

</html>